@import url("https://fonts.googleapis.com/css2?family=Delicious+Handrawn&family=Fredericka+the+Great&family=Inspiration&display=swap");

.container {
    font-size: 2rem;
    margin: 2 auto;
    font-family: 'Delicious Handrawn', cursive;
    color: #f2f2f2;
  }
  
  .title {
    font-size: 8rem;
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    animation: titleAnimation 2s ease-in-out infinite;
    font-family: 'Fredericka the Great', cursive;
      color: #2e7d32;
    background-color: #c8e6c9;
    
  }
  
  
  .links {
    float: left;
    width: 20%;
    padding: 2rem;
    background-color: #c8e6c9;
  }
  
  .links h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    color: #2e7d32;
  }
  
  .links ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .links li {
    margin-bottom: 1rem;
    font-family: 'Delicious Handrawn', cursive;
    font-size: 1.5rem;
  
  }
  
  .links a {
    color: #2f2f2f;
    text-decoration: none;
    font-family: 'Delicious Handrawn', cursive;
  
  }
  
  .links a:hover {
    color: #2e7d32;
    font-family: 'Delicious Handrawn', cursive;
  
  }
  
  .media {
    text-align: center;
    display: flex;
  }
  
  .media img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
  }
  
  .frase {
    clear: both;
    text-align: center;
    padding: 2rem;
    background-color: #c8e6c9;
    font-size: 1.5rem;
    color: #2e7d32;}

  .presentación {
      clear: both;
      text-align: center;
      padding: 2rem;
      background-color: #c8e6c9 ;
      font-size: 1.5rem;
      color: #7b41eb
  }
  footer {
text-align: center;
    font-family: sans-serif ;
    font-size: 1rem;
  }
  body { 
    background-color: #577b41eb;
  }
  .contenedor-padre {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .contenedor-hijo {
    flex-basis: calc(30% - 5px); /* El 10px es para tener un espacio entre los contenedores */
    margin-bottom: 20px;
    border: 3px solid #0e0d0d;
    padding: 20px;
    font-family:'Times New Roman', Times, serif;
    font-size: 1rem;
    color: #0e0d0d;
    text-align: center;
  }
  
  .def-desastres-naturales{
    position: relative;
    display:inline-block;
    border: 1px;
    align-content: flex-start;
    font-family: 'Delicious Handrawn', cursive;
    font-size: 1.5rem;
    color: #2e7d32;

  }
  .titulo-desastres {
    text-align: center;
    font-family: 'Delicious Handrawn', cursive;
    color: #0e0d0d;
  }

.def-reciclaje {
  text-align: center;
  font-family: 'Delicious Handrawn', cursive;
  color: #0e0d0d;
}
.pie {
  text-align: center;
  color: #0e0d0d;
}
.def-naturaleza {
  text-align: center;
  color: #0e0d0d;
}
.def-recursosrenov {
  text-align: center;
  font-family: 'Delicious Handrawn', cursive;
  color: #0e0d0d;

}
/* copiado identido de pagina que recomendo german*//
root {
  --font-family: "Roboto", sans-serf;
  --normal-font: 400;
  --bold-font: 700;
  --bolder-font: 900;
  --bg-color: #fcfcfc;
  --primary-color: #4756df;
  --secondary-color: #ff7235;
  --primary-shadow: #8b8eaf;
  --secondary-shadow: #a17a69;
  --bottom-margin: 0.5rem;
  --bottom-margin-2: 1rem;
  --line-height: 1.7rem;
  --transition: 0.3s;
}
/* Variables end */

html {
  scroll-behavior: smooth;
}

ul {
  list-style-type: none;
}

a {

  color: var(--primary-color);
}

a:hover {
  color: var(--secondary-color);
}

body {
  font-family: var(--font-family);
}

section {
  /* max-width: 1100px;
  margin: auto; */
}

/* CSS Resets end */

/* Navbar */
nav {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 3.5rem;
  background-color:#c8e6c9;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
}

nav h1 {
  color: var(--primary-color);
}

nav a {
  color: var(--primary-color);
  transition: var(--transition);
}
nav a:hover {
  color: var(--secondary-color);
  border-bottom: 2px solid var(--secondary-color);
}

nav ul {
  display: flex;
  gap: 1.9rem;
}

nav ul li {
  font-weight: var(--bold-font);
}

.burger-menu {
  color: var(--primary-color);
  font-size: 2rem;
  border: 0;
  background-color: transparent;
  cursor: pointer;
  display: none;

}
