  @import url('https://fonts.googleapis.com/css2?family=Comme:wght@100;200;300;400;500;600;700;800;900&family=Delicious+Handrawn&family=Fredericka+the+Great&display=swap');


.container {
    font-size: 2rem;
    margin: 2 auto;
    font-family: 'Delicious Handrawn', cursive;
    color: #f2f2f2;
  }
  
  .title {
    font-size: 8rem;
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    animation: titleAnimation 2s ease-in-out infinite;
    font-family: 'Fredericka the Great', cursive;
      color: #2e7d32;
    background-color: #c8e6c9;
    
  }
  
  
  .links {
    float: left;
    width: 20%;
    padding: 2rem;
    background-color: #c8e6c9;
  }
  
  .links h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    color: #2e7d32;
  }
  
  .links ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .links li {
    margin-bottom: 1rem;
    font-family: 'Delicious Handrawn', cursive;
    font-size: 1.5rem;
  
  }
  
  .links a {
    color: #2f2f2f;
    text-decoration: none;
    font-family: 'Delicious Handrawn', cursive;
  
  }
  
  .links a:hover {
    color: #2e7d32;
    font-family: 'Delicious Handrawn', cursive;
  
  }
  
  .media {
    text-align: center;
    display: flex;
  }
  
  .media img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
  }
  
  .media-img3 {
    max-width: 60%;
    height: auto;
    display: block;
    margin: 0 auto;
    }
  
    .media-secund {
      max-width: 20%;
      height: auto;
      display: block;
      margin: 0 auto;
      }
    
  
  
  .frase {
    clear: both;
    text-align: center;
    padding: 2rem;
    background-color: #c8e6c9;
    font-size: 1.5rem;
    color: #2e7d32;
    font-family: 'Delicious Handrawn', cursive;
  }

  .presentación {
      clear: both;
      text-align: center;
      padding: 2rem;
      background-color: #c8e6c9 ;
      font-size: 1.5rem;
      color: #7b41eb
  }
  footer {
    text-align: center;
    font-family: sans-serif ;
    font-size: 1rem;
  }
  body { 
    background-color: #577b41eb;
  }
  .contenedor-padre {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .contenedor-hijo {
    flex-basis: calc(30% - 5px); /* El 10px es para tener un espacio entre los contenedores */
    margin-bottom: 20px;
    border: 3px solid #0e0d0d;
    padding: 20px;
    font-family:'Times New Roman', Times, serif;
    font-size: 1rem;
    color: #0e0d0d;
    text-align: center;
  }
  
  .def-desastres-naturales{
    position: relative;
    display:inline-block;
    border: 1px;
    align-content: flex-start;
    font-family: 'Delicious Handrawn', cursive;
    font-size: 1.5rem;
    color: #2e7d32;

  }
  .titulo-desastres {
    text-align: center;
    font-family: 'Delicious Handrawn', cursive;
    color: #0e0d0d;
  }

.pie {
  text-align: center;
  color: #0e0d0d;
  }
html {
  scroll-behavior: smooth;
}

ul {
  list-style-type: none;
}

a {

  color: var(--primary-color);
}

a:hover {
  color: var(--secondary-color);
}

body {
  font-family: var(--font-family);
}

section {
  max-width: 1100px;
  margin: auto; 
}

nav {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 3.5rem;
  background-color:#c8e6c9;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
}

h1 {
  color: var(--primary-color);
}

nav a {
  color: var(--primary-color);
  transition: var(--transition);
}
nav a:hover {
  color: var(--secondary-color);
  border-bottom: 2px solid var(--secondary-color);
}

nav ul {
  display: flex;
  gap: 1.9rem;
}

nav ul li {
  font-weight: var(--bold-font);
}

.def-general {
  position: relative;
  display:inline-block;
  border: 1px;
  align-content: flex-start;
  font-family: 'Delicious Handrawn', cursive;
  font-size: 30px;
  color:#2f2f2f 
  
}

.YouTube {
  text-align: center;
}


/**pendientes de recursos renov**/
/**inicioreciclaje**/
/** continiciorenov **/
/** contenedoriniciorenov*^*/
/**parrafoinicio**/
/**cuadropoliticas en grid o en flex **/
/**econ1**/
/**econ2**/
/**resultadopolit**/
/**recursosnat**/
/**Contenedor-recursos**/
/**RecursosDirectos*/
/**RecursosIndrectos**/
/**Tiposrecursosrenov**/
/**recrenov**/